127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
127.0.1.1 oob-mgmt-server
{% for host in groups['switchs']  %}
{% set id = host[-2:] | int  %}
{% if 'leaf' in host  %}
{% set ip_last = 10 + id %}
{% elif 'spine' in host  %}
{% set ip_last = 20 + id %}
{% elif 'border' in host %}
{% set ip_last = 30 + id %}
{% endif %}

10.2.255.{{ ip_last }} {{ host }}
{% endfor %}

{% for host in groups['servers'] %}
{% set id = host[-2:] | int %}
{% set ip_last = 100 + id %}
10.2.255.{{ ip_last }} {{ host }}
{% endfor %}

{% for host in groups['fws'] %}
{% set id = host[-2:] | int %}
{% set ip_last = 108 + id %}
10.2.255.{{ ip_last }} {{ host }}
{% endfor %}
